body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
}

i {
  font-style: italic;
}

.container {
  margin-top: 100px;
}

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all 0.2s;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.625rem;
  height: 3.5rem;
  background-color: #fff;
}

.widget-subheading {
  color: #858a8e;
  font-size: 10px;
}

.card-header.card-header-tab .card-header-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.card-header .header-icon {
  font-size: 1.65rem;
  margin-right: 0.625rem;
}

.card-header.card-header-tab .card-header-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.btn-actions-pane-right {
  margin-left: auto;
  white-space: nowrap;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.scroll-area-sm {
  height: 288px;
  overflow-x: hidden;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.todo-indicator {
  position: absolute;
  width: 4px;
  height: 60%;
  border-radius: 0.3rem;
  left: 0.625rem;
  top: 20%;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.bg-warning {
  background-color: #f7b924 !important;
}

.widget-content {
  padding: 1rem;
  flex-direction: row;
  align-items: center;
}

.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
}

.widget-content .widget-content-right.widget-content-actions {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

.widget-content .widget-content-right {
  margin-left: auto;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.card-footer {
  background-color: #fff;
}

.crossOut {
  text-decoration: line-through;
  opacity: 0.4;
}

li div {
  cursor: pointer;
}

/*adding a nice background to the list*/
.listbody {
  background-image: url("notebook-page6.png");
  background-size: contain;
  opacity: 0.75;
  background-repeat: repeat-y;
  font-size: 2rem;
  font-family: 'Coming Soon', cursive;
}
#paperlike li {
  background: rgb(41, 90, 41, 0);
  font-size: 0.5rem;
}
#higher {
  margin-top: 2rem;
}

 
 
#addbtn {
  background-color: #569962;
  color: #e5f6e8;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  box-shadow: 3px 3px 3px #4d4c4c;
  cursor: pointer;
  font-family: 'Coming Soon', cursive;
}

#addbtn::active {
  cursor: pointer;
  background-color: #975699;
  
}

#delBTN {
  all: unset;
}

#delBTN {
  background-color: #f3712f;
  color: #e3f1dd;
  border-top-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 3px 3px 3px #4d4c4c;
  border: none;
  cursor: pointer;
  font-family: 'Coming Soon', cursive;
}
#haveToDo {
  background-color: #f2f6fa;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 0px;
  font-family: 'Coming Soon', cursive;
  padding: 0px;
  padding-left: 1.5rem;
  font-size: 1rem;
}
.background {
  background-image: -webkit-linear-gradient(
    270deg,
    rgba(227, 251, 238, 1) 0%,
    rgba(87, 174, 119, 1) 100%
  );
  background-image: -moz-linear-gradient(
    270deg,
    rgba(227, 251, 238, 1) 0%,
    rgba(87, 174, 119, 1) 100%
  );
  background-image: -o-linear-gradient(
    270deg,
    rgba(227, 251, 238, 1) 0%,
    rgba(87, 174, 119, 1) 100%
  );
  background-image: linear-gradient(
    180deg,
    rgba(227, 251, 238, 1) 0%,
    rgba(87, 174, 119, 1) 100%
  );
}

.transparent {
  background: none;
}

.form-check-input {
  width: 2.5em;
  height: 2.5em;
}

div {
  font-size: 1.5rem;
}
.list {
  font-size: 1.8rem;
}

.today-date{
  font-size: 1.2rem;
}
/*
  background-color: #569962;
  color: #e5f6e8;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  box-shadow: 3px 3px 3px #4d4c4c;
  cursor: pointer;
  */